header {
    background-color: aqua;
    height: 50px;
    width: 800px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: flex;

    position: fixed;
    top: 20px;
    left: 320px;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

header nav:nth-child(2):hover {
    color: aliceblue;
}